PAAS 3/PASS 3 (IBM Node).json
[{"id":"d3152da2.64efb","type":"tab","label":"Class 16/4/2020","disabled":false,"info":""},{"id":"2a87fffc.83151","type":"debug","z":"d3152da2.64efb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":140,"wires":[]},{"id":"a6e0b2e8.cfd","type":"comment","z":"d3152da2.64efb","name":"2","info":"","x":210,"y":220,"wires":[]},{"id":"f437f806.5dfc78","type":"comment","z":"d3152da2.64efb","name":"1","info":"","x":210,"y":80,"wires":[]},{"id":"96bb50a.88269b","type":"inject","z":"d3152da2.64efb","name":"","topic":"","payload":"Normal","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":300,"wires":[["e0e82bc7.71dda8"]]},{"id":"a7474e14.ae0f1","type":"inject","z":"d3152da2.64efb","name":"","topic":"","payload":"Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":380,"wires":[["e0e82bc7.71dda8"]]},{"id":"e0e82bc7.71dda8","type":"function","z":"d3152da2.64efb","name":"","func":"msg.payload = { \"a\" : {\"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":340,"wires":[["9a6745bb.f59fb8"]]},{"id":"9a6745bb.f59fb8","type":"json","z":"d3152da2.64efb","name":"","property":"payload","action":"","pretty":false,"x":540,"y":340,"wires":[["37b699d2.d308f6"]]},{"id":"91f2e251.d752","type":"ibmiot in","z":"d3152da2.64efb","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb7C8BCA9C8AF5","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":500,"wires":[["cfe8b00e.29d6d","81e5c692.af59a8","2211dd4e.c0c7a2","711049a6.56f6c8"]]},{"id":"cfe8b00e.29d6d","type":"debug","z":"d3152da2.64efb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":500,"wires":[]},{"id":"af5944c9.e908d8","type":"comment","z":"d3152da2.64efb","name":"3 + gauge","info":"","x":220,"y":440,"wires":[]},{"id":"c0bec34b.51d37","type":"ibmiot in","z":"d3152da2.64efb","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":140,"wires":[["2a87fffc.83151"]]},{"id":"37b699d2.d308f6","type":"ibmiot out","z":"d3152da2.64efb","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"08002730b098","deviceType":"RaspberryPi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":340,"wires":[]},{"id":"81e5c692.af59a8","type":"function","z":"d3152da2.64efb","name":"temperature","func":"msg.payload=msg.payload.d.\"Data\".\"Enviroment\".\"temperature\";\nreturn msg;","outputs":1,"noerr":5,"x":430,"y":560,"wires":[["42938623.e1e318"]]},{"id":"2211dd4e.c0c7a2","type":"function","z":"d3152da2.64efb","name":"humidity","func":"msg.payload=msg.payload.d.\"Data\".\"Enviroment\".\"humidity\";\nreturn msg;","outputs":1,"noerr":5,"x":420,"y":620,"wires":[["e1804ba4.25bb98"]]},{"id":"711049a6.56f6c8","type":"function","z":"d3152da2.64efb","name":"pressure","func":"msg.payload=msg.payload.d.\"Data\".\"Enviroment\".\"pressure\";\nreturn msg;","outputs":1,"noerr":5,"x":420,"y":680,"wires":[["81a5be45.ea9f2"]]},{"id":"42938623.e1e318","type":"ui_gauge","z":"d3152da2.64efb","name":"","group":"57c914d4.2cbafc","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":560,"wires":[]},{"id":"e1804ba4.25bb98","type":"ui_gauge","z":"d3152da2.64efb","name":"","group":"57c914d4.2cbafc","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":620,"wires":[]},{"id":"81a5be45.ea9f2","type":"ui_gauge","z":"d3152da2.64efb","name":"","group":"57c914d4.2cbafc","order":2,"width":0,"height":0,"gtype":"gage","title":"pressure","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":680,"wires":[]},{"id":"57c914d4.2cbafc","type":"ui_group","z":"","name":"Environment","tab":"e1898975.e21998","disp":true,"width":"6","collapse":false},{"id":"e1898975.e21998","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]