PAAS 3/PASS 3 (Pi Node).json
[{"id":"dd01ca9a.642a58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d21b700b.ea18c","type":"inject","z":"dd01ca9a.642a58","name":"","topic":"","payload":"String","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["c9a8d786.534b58"]]},{"id":"c9a8d786.534b58","type":"random","z":"dd01ca9a.642a58","name":"","low":"1","high":"10","inte":"true","property":"payload","x":260,"y":220,"wires":[["feaf2344.e7106"]]},{"id":"feaf2344.e7106","type":"function","z":"dd01ca9a.642a58","name":"Format data","func":"msg.payload = { 'd' : {'random' : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["7139684f.1eefe8","ae966e4b.4382"]]},{"id":"7139684f.1eefe8","type":"debug","z":"dd01ca9a.642a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":160,"wires":[]},{"id":"b379b4c.8730448","type":"debug","z":"dd01ca9a.642a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":380,"wires":[]},{"id":"140c220d.e9265e","type":"comment","z":"dd01ca9a.642a58","name":"2","info":"","x":110,"y":300,"wires":[]},{"id":"fb9e455a.16f1e8","type":"comment","z":"dd01ca9a.642a58","name":"1","info":"","x":110,"y":60,"wires":[]},{"id":"6b63196d.d44f98","type":"comment","z":"dd01ca9a.642a58","name":"3","info":"","x":110,"y":480,"wires":[]},{"id":"e2ae4fe9.00656","type":"rpi-sensehatsim in","z":"dd01ca9a.642a58","name":"","motion":false,"env":true,"stick":false,"x":140,"y":540,"wires":[["518c6cd8.5e09f4"]]},{"id":"518c6cd8.5e09f4","type":"delay","z":"dd01ca9a.642a58","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":540,"wires":[["6f1c5907.aefcb8"]]},{"id":"6f1c5907.aefcb8","type":"function","z":"dd01ca9a.642a58","name":"Env. Data","func":"msg.payload ={\"Data\":{\"Enviroment\" : msg.payload}};\nmsg.deviceType= \"senseHat\";\nmsg.deviceId= \"senb7C8BCA9C8AF5\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":540,"wires":[["5701e387.e0fffc","c1937226.92dfb"]]},{"id":"5701e387.e0fffc","type":"debug","z":"dd01ca9a.642a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":600,"wires":[]},{"id":"c1937226.92dfb","type":"wiotp out","z":"dd01ca9a.642a58","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"c4c072e5.5717b","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":510,"y":660,"wires":[]},{"id":"ae966e4b.4382","type":"wiotp out","z":"dd01ca9a.642a58","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"2a06cca0.02d6d4","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":510,"y":220,"wires":[]},{"id":"a4b6a125.56f61","type":"wiotp in","z":"dd01ca9a.642a58","authType":"d","deviceKey":"2a06cca0.02d6d4","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":120,"y":380,"wires":[["b379b4c.8730448"]]},{"id":"c4c072e5.5717b","type":"wiotp-credentials","z":"","name":"","org":"h5gghe","serverName":"","devType":"RaspberryPi","devId":"08002730b098","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"2a06cca0.02d6d4","type":"wiotp-credentials","z":"","name":"RaspberryPi","org":"h5gghe","serverName":"","devType":"RaspberryPi","devId":"08002730b098","keepalive":"60","cleansession":true,"tls":"","usetls":false}]